<!DOCTYPE html>
<html>
  <head>
    <title>Repo Languages</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div data-add-back-btn="true" data-role="page">
        <div data-role="header">
            <h1><%= repoName %></h1>
        </div>

        <div data-role="content">
            <h2>Languages in Bytes</h2>

            <div class="ui-grid-a">

                <% Object.keys(languages).forEach(function(el) { %>

                <div class="ui-block-a">
                    <strong><%= el %> :</strong>
                </div>
                <div class="ui-block-b">
                    <%= languages[el] %>
                </div>

                <% }) %>

            </div>

        </div>

    </div>
  </body>
</html>